<div class="footer">
    <div style="display:flex; flex-direction:row; justify-content: space-around;">
        <div style="display: flex; flex-direction:column;">
            <h5>Create Reminder</h5>
            <a href="/reminder/new">
                <i class="fa fa-plus-circle fa-4x"></i>
            </a>
        </div>
        <div style="display: flex; flex-direction:column;"> 
            <h5>View All Reminders</h5>
            <a href="/reminder">
                <div class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fas fa-eye fa-stack-1x"></i>
                </div>
            </a>
        </div>
    </div>
</div>