    <div class="container">
        <!-- header -->
        <div class="header">
            <div>
                <h1>iForgot</h1>
                <p style="margin: 5px; padding: 5px;">We Remember</p>
            </div>
            <!-- search -->
            <div style="text-align: center; align-items: center;">
                <div>
                    <input type="text" placeholder="Search" name="search"
                        style="border-radius:6px; padding:5px; width: 60%; max-width: 350px;">

                    <button type="button" class="btn btn-circle btn-sm" style="background-color:mediumaquamarine;"><i
                            class="fa fa-search fa-2x" style="color: white;"></i>
                </div>
            </div>
        </div>

        <!-- forecast -->
        <div class="forecast">
            <h5>Forecast</h5>
            <div class="weather" >
                <div class="weather-icon">
                    <div class="fa-stack fa-2x" onclick="getForecast()">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-cloud fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 1</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-wind fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 2</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-cloud-rain fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 3</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-cloud-showers-heavy fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 4</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-cloud-sun fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 5</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-snowflake fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 6</div>
                </div>
                <div class="weather-icon">
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: white;"></i>
                        <i class="fa fa-sun fa-stack-1x"></i>
                    </div>
                    <div class="weekday">Day 7</div>
                </div>

            </div>
        </div>
        <!-- today -->
        <div class="today">
            <div style="width: 70%; margin: 5px; ">
                <!-- today reminders -->
                <div class="today-reminders">
                    <h5>Today</h5>
                    <div class="today-reminders-info">
                        <!-- Next reminder for today -->
                        <div class="next-reminder">
                            <h6>Next reminder</h6>
                            <div>
                                <div class="next-reminder-info">
                                    <p>Today, time</p>
                                    <p>Reminder Title</p>
                                </div>
                            </div>
                        </div>
                        <!-- number of reminders for today -->
                        <div style="width: 30%; font-size: larger; color:black">
                            <div class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x fa-white" style="color: white;"></i>
                                <span class="fa-stack-1x">2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- today umbrella -->
            <div style=" width: 30%; margin: 5px;font-size: x-large;">
                <div>
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x " style="color: dodgerblue;"></i>
                        <i class="fa fa-umbrella fa-stack-1x" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- more reminders -->
        <div class="future-reminders">
            <!-- this week reminders -->
            <div style="width: 50%; margin: 5px;">
                <div class="week-reminders" style="font-size: larger; color:black; display: block;">
                    <h5 style="color: white;">This Week</h5>
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                        <span class="fa-stack-1x">2</span>
                    </div>
                </div>
            </div>
            <!-- this month reminders -->
            <div style="width: 50%; margin: 5px;">
                <div class="week-reminders" style="font-size: larger; color:black; display: block;">
                    <h5 style="color: white;">This Month</h5>
                    <div class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                        <span class="fa-stack-1x">2</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- creat / view -->
        <div class="create-view" style="background-color: dodgerblue; ;">
            <!-- create reminder -->
            <div style="display: block;width: 50%; font-size: small;">
                <h5 style="color: white;">Create Reminder</h5>
                <button for="new reminder" class="btn"
                style="color: none; background-color: dodgerblue; border: none;">
                <i class="fa fa-plus-circle fa-4x" style="color: white;"></i>
            </button>
            </div>
            <!-- view all reminders -->
            <div style="display: block; width: 50%; font-size: small;">
                <h5 style="color: white;">View All Reminders</h5>
                <button type="submit" for="new reminder" class="btn"
                style="color: none; background-color: dodgerblue; border: none;">
                <div class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                    <i class="fas fa-eye fa-stack-1x" style="color: dodgerblue; font-size: larger;"></i>
                </div>
            </button>
            </div>
        </div>
    </div>
    </div>