<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reminder List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/79876a6821.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">  

  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
    <% include ./partials/navbar %>
    <%- body %>

  </div>


  <script>
    const fp = flatpickr(".flatpickr", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      wrap: true
      // plugins: [new confirmDatePlugin({
      //   confirmIcon: "<i class='fa fa-check'></i>",
      //   confirmText: "OK ",
      //   showAlways: false,
      //   theme: "light"
      // })]
    });

  </script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>

</html>